.dialog {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: var(--background-lighter-color-transp);
	display: flex;
	cursor: default;

	>.content {
		margin: auto;
		padding: .7em;
		background-color: var(--background-color);
		min-width: 25%;
		min-height: 15%;
		display: flex;
		border-radius: 10px;
		border: 1px solid var(--text-color);
		flex-direction: column;
		align-items: center;
		justify-content: center;

		>.title {
			font-weight: bold;
			font-size: 1.2em;
			margin: .3em 0;
		}
	}

	&.hidden {
		display: none;
	}
}
