.sidebar {
	--border-radius: 5px;
	--width: var(--sidebar-width);
	// height: 100%;
	width: var(--width);
	// padding: .5rem;
	background-color: var(--background-lighter-color);
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	>.title {
		font-size: 1.3em;
		font-weight: bold;
		padding: .5em;
		display: block;
		text-align: center;
		border: 0 solid var(--background-color);
		border-width: 0 0 2px 0;
		background-color: var(--background-color);
	}

	>.bottom {
		font-size: 1.3em;
		font-weight: bold;
		padding: .5em;
		display: block;
		text-align: center;
		border: 0 solid var(--background-color);
		border-width: 2px 0 0 0;
		background-color: var(--background-color);
		margin-top: auto;
		display: flex;
		flex-direction: row;
		align-items: center;

		>.account {
			font-weight: normal;
			cursor: default;
			margin-right: auto;
			display: flex;
			align-items: center;
			padding: .2em;
			border-radius: 5px;
			gap: .2em;

			&:hover {
				background-color: var(--background-lighter-color);
			}

			>.icon {
				height: 1.3em;
				width: 1.3em;
			}

			>.text {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				margin-right: .3em;

				>.name {
					color: var(--text-color);
					font-size: .8em;
				}

				>.type {
					font-size: .6em;
					color: gray
				}
			}
		}
	}

	&>* {
		display: flex;
		flex-direction: column;
		gap: .2rem;
	}

	.list {
		display: flex;
		flex-direction: column;
		gap: 0.1em;
		padding: 0.5em;

		.element {
			display: flex;
			height: 1em;
			flex-direction: row;
			padding: 0.3em;
			align-items: center;
			border-radius: 5px;

			&>* {
				background-color: transparent;
			}

			& .icon {
				font-size: 1em;
				width: 1em;
				margin-right: 0.3em;
			}

			span.title {
				cursor: default;
			}

			&:hover {
				background-color: var(--background-color);
			}
			&.active {
				background-color: var(--background-darker-color);
			}
		}
	}

	// & .divider {
	// 	border: 1px solid var(--background-darker-color);
	// 	border-radius: var(--border-radius);
	// 	margin: .1rem 0;
	// }
}
