.window {
	background-image: url(/assets/dark-background.jpg);
	background-size: cover;
	// display: flex;
	// align-items: stretch;
	// justify-content: stretch;
	// flex-direction: column;

	&>* {
		position: absolute;
		left: calc(var(--sidebar-width));
		top: 0;
		bottom: 0;
		right: 0;
	}

	&>.main {
		padding: 1.5em;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;

		&>.buttons {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			gap: .3em;

			&>button {
				border: none;
				padding: 1em;
				background-color: var(--background-lighter-color);
				border-radius: 15px;
				color: var(--text-color);

				&:hover {
					background-color: var(--accent-color);
				}

				* {
					background-color: transparent;
				}

				&>h2 {
					margin: 0;
				}

				.title {
					font-weight: bolder;
					font-size: 1.8em;
				}
				&.play {
					min-width: 11em;
					padding: .8em;
					text-align: center;
				}
				// &>.comment {
				// 	display: flex;
				// 	align-items: center;

				// 	&>img.icon {
				// 		height: 1em;
				// 		width: 1em;
				// 	}
				// }
			}
		}
	}

	&>.pick {
		background-color: var(--background-lighter-color-transp);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
