.account-switcher-wrapper {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	gap: .2em;

	.element {
		font-weight: normal;
		cursor: default;
		// margin-right: auto;
		display: flex;
		align-items: stretch;
		padding: .4em;
		border-radius: 5px;
		gap: .2em;

		&:hover {
			background-color: var(--background-lighter-color);
		}

		>img.icon {
			height: 2.2em;
			width: 2.2em;
		}

		>.text {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			margin-right: .3em;

			>.name {
				color: var(--text-color);
				font-size: 1.1em;
			}

			>.type {
				font-size: .8em;
				color: gray
			}
		}

		&.add {
			>.icon {
				font-size: 1em;
				display: flex;
				align-items: center;
				padding: 0 .5em;
			}

			>.text>.name {
				font-size: 1em;
			}
		}

	}

	>span.or {
		text-align: center;
		align-self: center;
		color: rgb(82, 82, 82);
	}
}
