.settings-dialog-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: .4em;

	table {
		>tbody {
			>tr {
				>td {
					&:nth-child(-n+1) {
						text-align: end;
					}
				}
			}
		}
	}

	select {
		background-color: var(--background-darker-color);
		border: none;
		appearance: none;
		-webkit-appearance: none;
		color: var(--text-color);
		padding: .4em;
	}

	>.buttons {
		display: flex;
		gap: .2em;

		>button {
			color: var(--text-color);
			background-color: var(--background-lighter-color);
			border: none;
			border-radius: 5px;
			font-size: 1em;

			&:hover {
				background-color: var(--background-darker-color);
			}
		}
	}
}
